<!DOCTYPE html>

<html lang="en"xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MyPetStore</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="StyleSheet" href="../css/mainForm.css" type="text/css" media="screen" />

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>


</head>

<body>

<nav class="navbar container" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/catalog/main}">JPetStore</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/cartFor/init}">
                <img align="middle" name="img_cart" src="../images/cart.gif" />
            </a>
        </li>

        <li class="nav-item" th:if="${session.userInfo==null}">
            <a class="nav-link" href="signonForm">Sign In</a>
        </li>
        <li class="nav-item" th:if="${session.userInfo!=null}">
            <a class="nav-link" th:href="sionout">Sign Out</a>
        </li>
        <li class="nav-item" th:if="${session.userInfo != null}">
            <a class="nav-link" th:href="@{/editAccount}">My Account</a>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Pet Category <b class="caret"></b>
            </a>
            <ul class="dropdown-menu text-muted text-uppercase">
                <li><a href="/catalog/viewCategory?categoryId=FISH">Fish</a></li>
                <li><a href="/catalog/viewCategory?categoryId=BIRDS">Bird</a></li>
                <li><a href="/catalog/viewCategory?categoryId=DOGS">Dog</a></li>
                <li><a href="/catalog/viewCategory?categoryId=REPTILES">Reptile</a></li>
                <li><a href="/catalog/viewCategory?categoryId=CATS">Cat</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/catalog/help}">?</a>
        </li>
    </ul>
    <div id="SearchPlace" class="navbar-right">
        <div >
            <form class="navbar-form " role="search" th:action="@{/catalog/searchProduct}" method="post" autocomplete="off" id="Search">
                <input class="form-control mr-sm-2" type="text" name="keyword" size="16" id="keyword"
                       placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div id="productAutoComplete">
            <ul id="productAutoList">
<!--                <%&#45;&#45;                    <li class="productAutoItem">Amazon</li>&#45;&#45;%>-->
<!--                <%&#45;&#45;                    <li class="productAutoItem">Amazon</li>&#45;&#45;%>-->
<!--                <%&#45;&#45;                    <li class="productAutoItem">Amazon</li>&#45;&#45;%>-->
<!--                <%&#45;&#45;                    <li class="productAutoItem">Amazon</li>&#45;&#45;%>-->
<!--                <%&#45;&#45;                    <li class="productAutoItem">Amazon</li>&#45;&#45;%>-->
<!--                <%&#45;&#45;                    <li class="productAutoItem">Amazon</li>&#45;&#45;%>-->
            </ul>
        </div>
    </div>
</nav>
<div id="Catalog" class="container">
    <div class="col-md-4 col-md-offset-4">
        <table class="table table-bordered table-striped ">
            <tr>
<!--                <td th:text="${item.getDescription()}">${sessionScope.product.description}</td>-->
                <td>
                    <img th:src="${item.getDescriptionImage()}">
                    <label th:text="${item.getDescriptionText()}"></label>
                </td>
            </tr>
            <tr>
                <td><b th:text="${item.getItemId()}">${sessionScope.item.itemId}</b></td>
            </tr>
            <tr>
                <td>
                    <b><font size="4">
                        <span th:text="${item.getAttributes1()}"></span>
                        <span th:text="${item.getAttributes2()}"></span>
                        <span th:text="${item.getAttributes3()}"></span>
                        <span th:text="${item.getAttributes4()}"></span>
                        <span th:text="${item.getAttributes5()}"></span>
                        <span th:text="${item.getProductName()}"></span>
                    </font>
                    </b>
                </td>
            </tr>
            <tr>
                <td th:text="${item.getProductName()}"></td>
            </tr>
            <tr>
                <td>
<!--                    <c:if test="${sessionScope.item.quantity <= 0}">-->
<!--                        Back ordered.-->
<!--                    </c:if>-->
<!--                    <c:if test="${sessionScope.item.quantity > 0}">-->
<!--                        ${sessionScope.item.quantity} in stock.-->
<!--                    </c:if>-->
                    <th:block th:if="${item.getQuantity() <= 0}">
                        Back ordered.
                    </th:block>
                    <th:block th:if="${item.getQuantity() > 0}">
                        <span th:text="${item.getQuantity()}"></span> in stock.
                    </th:block>

                </td>
            </tr>

            <tr>
                <td><span th:text="'$' + ${item.getListPrice()}"></span></td>
            </tr>


            <tr>
                <td>
                    <form action="#" th:action="@{/cartFor/addItemToCart}" method="post">
                        <input type="hidden" name="flag" th:value="${session.flag+1}">
                        <input type="hidden" name="workingItemId" th:value="${item.itemId}">
                        <button type="submit" class="Button">Add to Cart</button>
                    </form>
                </td>
            </tr>
        </table>

    </div>
</div>


<div class="container" id="Footer">

    <div id="PoweredBy">&nbsp<a href="http://www.csu.edu.cn">www.csu.edu.cn</a>
    </div>

    <div id="Banner">

<!--        <c:if test="${sessionScope.loginAccount != null }">-->
<!--            <c:if test="${sessionScope.loginAccount.bannerOption}">-->
<!--                ${sessionScope.loginAccount.bannerName}-->
<!--            </c:if>-->
<!--        </c:if>-->
    </div>
    <div class="product-preview"></div>

</div>

<script src="js/productAuto.js"></script>
<script src="js/cartNumber.js"></script>
<script src="js/orderConfirm.js"></script>
<script src="js/setInitMainList.js"></script>
<script src="js/preView.js"></script>
</body>
</html>

