<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MyPetStore</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="StyleSheet" href="../css/cart.css" type="text/css" media="screen"/>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>

</head>

<body>

<nav class="navbar container" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/catalog/main}">JPetStore</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link"  th:href="@{/cartFor/init}">
                <img align="middle" name="img_cart" src="../images/cart.gif"/>
            </a>
        </li>
        <li class="nav-item" th:if="${session.userInfo== null}">
            <a class="nav-link" th:href="@{/accountFor/signon}">Sign In</a>
        </li>
        <li class="nav-item" th:if="${session.userInfo!=null}">
            <a class="nav-link" th:href="@{/accountFor/signOut}">Sign Out</a>
        </li>
        <li class="nav-item" th:if="${session.userInfo != null}">
            <a class="nav-link" th:href="@{/accountFor/edit}">My Account</a>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Pet Category <b class="caret"></b>
            </a>
            <ul class="dropdown-menu text-muted text-uppercase">
                <li><a th:href="@{/catalog/viewCategory(categoryId=FISH)}">Fish</a></li>
                <li><a th:href="@{/catalog/viewCategory(categoryId=BIRDS)}">Bird</a></li>
                <li><a th:href="@{/catalog/viewCategory(categoryId=DOGS)}">Dog</a></li>
                <li><a th:href="@{/catalog/viewCategory(categoryId=REPTILES)}">Reptile</a></li>
                <li><a th:href="@{/catalog/viewCategory(categoryId=CATS)}">Cat</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a th:href="@{/catalog/help}">?</a>
        </li>
    </ul>
    <div id="SearchPlace" class="navbar-right">
        <div>
            <form class="navbar-form " role="search" th:action="@{/catalog/searchProduct}" method="post" autocomplete="off"
                  id="Search">
                <input class="form-control mr-sm-2" type="text" name="keyword" size="16" id="keyword"
                       placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div id="productAutoComplete">
            <ul id="productAutoList">

            </ul>
        </div>

    </div>

</nav>
<div class="container">

    <div id="Cart">
        <h2>Shopping Cart</h2>
        <div id="informMessage" class="text-danger"></div>
        <form th:action="@{/cartFor/updateQuantity}" method="post">
            <table class="table table-striped table-hover">
                <tr>
                    <th><b>Item ID</b></th>
                    <th><b>Product ID</b></th>
                    <th><b>Description</b></th>
                    <th><b>In Stock?</b></th>
                    <th><b>Quantity</b></th>
                    <th><b>List Price</b></th>
                    <th><b>Total Cost</b></th>
                    <th>&nbsp;</th>
                </tr>
                <tr th:if="${session.cart.getNumberOfItems()==0}">
                    <td colspan="8"><b>Your cart is empty.</b></td>
                </tr>

                <tr th:each="cartItem : ${session.cart.getCartItemsVOS()}">
                    <td>
                        <a id="itemIdRef" th:href="@{/catalog/viewItem(itemId=${cartItem.getItemVO().getItemId()})}"
                           th:text="${cartItem.getItemVO().getItemId()}"></a>
                    </td>
                    <td th:text="${cartItem.getItemVO().getProductId()}"></td>
                    <td th:text="${cartItem.getItemVO().getAttributes1()}  + ' '  + ${cartItem.getItemVO().getProductName()     }"></td>
                    <td th:text="${cartItem.isInStock()}"></td>
                    <td>
                        <input class="itemNumber" type="text" th:name="${cartItem.itemVO.itemId}"
                               th:value="${cartItem.quantity}">
                    </td>
                    <td class="singlePrice" th:id="${cartItem.getItemVO().getItemId()}">
                        <span th:text="${#numbers.formatDecimal(cartItem.getItemVO().getListPrice(), 2, 'COMMA', 2, 'POINT')}"></span>
                    </td>
                    <td class="totalPrice" th:id="${cartItem.getItemVO().getItemId()}">
                        <span th:text="${#numbers.formatDecimal(cartItem.getTotal(), 2, 'COMMA', 2, 'POINT')}"></span>
                    </td>
                    <td>
                        <a th:href="@{/cartFor/removeCartItem(workingItemId=${cartItem.getItemVO().getItemId()})}" class="Button">Remove</a>
                    </td>
                </tr>

                <tr>
                    <td colspan="7" id="subTotal">
                        Sub Total:
                        <span th:text="'$' + ${session.cart.getSubtotal()}"></span>
                    </td>
                    <td>
                        <input class="btn-warning" type="submit" value="Update Cart">
                    </td>
                    <td>&nbsp;</td>
                </tr>

            </table>
        </form>
        <c:if test="${sessionScope.cart.numberOfItems > 0}">
            <button class="Button" data-toggle="modal" data-target="#cartConfirm">go to check</button>
        </c:if>

        <div th:if="${session.cart.getNumberOfItems() > 0}">
            <button class="Button" data-toggle="modal" data-target="#cartConfirm">go to check</button>
        </div>

    </div>

    <div id="MyList">
        <c:if test="${sessionScope.loginAccount != null}">
            <c:if test="${!empty sessionScope.loginAccount.listOption}">
<!--                <%@ include file="includeMyList.jsp"%>-->
            </c:if>
        </c:if>
    </div>

    <div id="Separator">&nbsp;</div>


    <div class="modal fade" id="cartConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="ConfirmHead">submit your order</h4>
                </div>
                <div class="modal-body">
                    <div>
                        The total price of the items you purchased is <span id="ConfirmPrice"></span>.
                        <br>
                        Would you like to proceed with submitting the order?
                    </div>
                </div>
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>-->
<!--                    <button type="button" class="btn btn-primary" id="submitBtn" href="myOrder">submit</button>-->
<!--                </div>-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a th:href="@{/Order/OrderForm}" class="btn btn-primary">Submit</a>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<div class="container" id="Footer">

    <div id="PoweredBy">&nbsp<a href="http://www.csu.edu.cn">www.csu.edu.cn</a>
    </div>

    <div id="Banner">

        <c:if test="${sessionScope.loginAccount != null }">
            <c:if test="${sessionScope.loginAccount.bannerOption}">
<!--                ${sessionScope.loginAccount.bannerName}-->
            </c:if>
        </c:if>
    </div>
    <div class="product-preview"></div>

</div>

<script src="js/productAuto.js"></script>
<script src="js/cartNumber.js"></script>
<script src="js/setInitMainList.js"></script>
<script src="js/preView.js"></script>
</body>
</html>

