<!DOCTYPE html>

<html lang="en"xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MyPetStore</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="StyleSheet" href="../css/mainForm.css" type="text/css" media="screen" />
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>

</head>

<body>

<nav class="navbar container" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/catalog/main}">JPetStore</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/cartFor/init}">
                <img align="middle" name="img_cart" src="../images/cart.gif" />
            </a>
        </li>

        <li class="nav-item" th:if="${session.userInfo== null}">
            <a class="nav-link" th:href="@{/accountFor/signon}">Sign In</a>
        </li>
        <li class="nav-item" th:if="${session.userInfo!=null}">
            <a class="nav-link" th:href="@{/accountFor/signOut}">Sign Out</a>
        </li>
        <li class="nav-item" th:if="${session.userInfo != null}">
            <a class="nav-link" th:href="@{/accountFor/edit}">My Account</a>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Pet Category <b class="caret"></b>
            </a>
            <ul class="dropdown-menu text-muted text-uppercase">
                <li><a th:href="@{/catalog/viewCategory(categoryId=FISH)}">Fish</a></li>
                <li><a th:href="@{/catalog/viewCategory(categoryId=BIRDS)}">Bird</a></li>
                <li><a th:href="@{/catalog/viewCategory(categoryId=DOGS)}">Dog</a></li>
                <li><a th:href="@{/catalog/viewCategory(categoryId=REPTILES)}">Reptile</a></li>
                <li><a th:href="@{/catalog/viewCategory(categoryId=CATS)}">Cat</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a th:href="@{/catalog/help}">?</a>
        </li>
    </ul>
    <div id="SearchPlace" class="navbar-right">
        <div >
            <form class="navbar-form " role="search" th:action="@{/catalog/searchProduct}" method="post" autocomplete="off" id="Search">
                <input class="form-control mr-sm-2" type="text" name="keyword" size="16" id="keyword"
                       placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div id="productAutoComplete">
            <ul id="productAutoList">
<!--                <%&#45;&#45;                    <li class="productAutoItem">Amazon</li>&#45;&#45;%>-->
<!--                <%&#45;&#45;                    <li class="productAutoItem">Amazon</li>&#45;&#45;%>-->
<!--                <%&#45;&#45;                    <li class="productAutoItem">Amazon</li>&#45;&#45;%>-->
<!--                <%&#45;&#45;                    <li class="productAutoItem">Amazon</li>&#45;&#45;%>-->
<!--                <%&#45;&#45;                    <li class="productAutoItem">Amazon</li>&#45;&#45;%>-->
<!--                <%&#45;&#45;                    <li class="productAutoItem">Amazon</li>&#45;&#45;%>-->
            </ul>
        </div>

    </div>

</nav>
<div class="Catalog container">
    <div class="col-md-6 col-lg-offset-3">
        <form action="/accountFor/getSignon" method="post" role="form">
            <div class="form-group">
                <p class="text-capitalize">Please enter your username and password.</p>
<!--                <c:if test="${requestScope.signOnMsg != null}">-->
<!--                    <p> <font color="red">${requestScope.signOnMsg} </font> </p>-->
<!--                </c:if>-->
            </div>
            <label for="username">Your Username</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="basic-addon3">
            </div>
            <label for="password">Your Password</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2"></span>
                <input type="password" class="form-control" id="password" name="password" aria-describedby="basic-addon3">
            </div>
<!--            <label for="VerificationCode">VerificationCode</label>-->
<!--            <div class="input-group">-->
<!--                <input type="text" class="form-control" id="VerificationCode" name="vCode" aria-describedby="basic-addon3">-->
<!--                <span class="col-md-offset-5" style="display: inline"><a href="signOn"><img class="img-responsive col-md-offset-4" border="0" src="verificationCode" name="checkcode" ></a></span>-->
<!--            </div>-->
            <div class="form-group col-md-offset-5">
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
        </form>
        Need a username and password?
        <a th:href="@{/accountFor/register}">Register Now!</a>


    </div>


</div>


<div class="container " id="Footer">

</div>

<div id="Banner">

<!--    <c:if test="${sessionScope.loginAccount != null }">-->
<!--        <c:if test="${sessionScope.loginAccount.bannerOption}">-->
<!--            ${sessionScope.loginAccount.bannerName}-->
<!--        </c:if>-->
<!--    </c:if>-->
</div>
<div class="product-preview"></div>

</div>

<script src="../js/productAuto.js"></script>
<script src="../js/cartNumber.js"></script>
<script src="../js/orderConfirm.js"></script>
<script src="../js/setInitMainList.js"></script>
<script src="../js/preView.js"></script>
</body>
</html>

